.front-page-hero {
	padding: ( $spacer * 2 ) ( $spacer * 2 ) 0;

	.lead {
		font-size: 1.2em;
		font-weight: bold;

		@include river {
			font-size: 2em;
		}
	}
}

.front-page-posts-section {
	padding: ( $spacer * 2 );
	
	@include river {
		display: inline-block;
		float: left;
		width: 50%;
	}
	
	.section-title {
		margin-bottom: ( $spacer * 2 );
	}

	.entry-header {
		min-width: 100%;
	}
	
	.entry-image {
		filter: grayscale( 100% );

		&:hover {
			filter: grayscale( 0% );
		}
	}
	
	.has-post-thumbnail {
		position: relative;

		.entry-header {
			padding: 0;
		}

		.entry-footer {
			position: absolute;
			bottom: 0;
			right: 0;
			color: $primary-color;
			font-family: $header-font;
			font-size: 24px;
			text-shadow: 3px 3px rgba( $body-color, 0.85 );
			width: 100%;
		}
	}
	
	a {
		text-decoration: none;
	}
}
