.site-header {
	background-image: linear-gradient( to right, rgba( $secondary-color, 0.75 ), rgba( $primary-color, 1 ) );
	height: 100px;
	margin: ( $spacer * 3 ) 0;

	@include river {
		height: auto;
		width: calc( 100% / 3 );
		margin: 0 ( $spacer * 2 );
	}
}
