.site-header {
	background-image: linear-gradient( to right, rgba( $secondary-color, 0.75 ), rgba( $primary-color, 1 ) );
	height: 100px;
	margin: ( $spacer * 3 ) 0;

	@include river {
		background-image: none;
		height: auto;
		margin: 0;

		.wrap {
			background-image: linear-gradient( to right, rgba( $secondary-color, 0.75 ), rgba( $primary-color, 1 ) );
			padding: 0 ( $spacer * 2 );
		}
	}
}
