.site-inner {
	padding: $spacer * 2;
	
	.home & {
		padding: 0;
	}
}

@include river {
	.site-container {
		display: flex;
		flex-wrap: wrap;
	}

	.site-header {
		flex-basis: 33.33%;
		min-width: 0;
		min-height: 100vh;
	}
	
	.site-inner {
		flex-basis: 66.66%;
		min-width: 0;
		min-height: 100vh;
	}

	.genesis-skip-link {
		display: none;
	}
}
