table {
	border: 1px solid $border-color;
	border-collapse: collapse;
	max-width: 100%;
	width: 100%;
	table-layout: fixed;
	
	th, td {
		border: 1px solid $border-color;
		border-collapse: collapse;
		padding: $spacer / 4;
	}
}
