body {
	background-color: $background-color;
	color: $body-color;
	font-family: $body-font;
	font-size: $font-size;
	line-height: $line-height;
	text-rendering: optimizeLegilibity;
}

a {
	color: $link-color;

	&:hover,
	&:active,
	&:focus {
		color: $link-hover-color;
	}
}
