html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;

	&:before,
	&:after {
		box-sizing: inherit;
	}
}

body {
	background-color: $background-color;
	color: $body-color;
	font-family: $body-font;
	font-size: $font-size;
	line-height: $line-height;
	text-rendering: optimizeLegilibity;

	&.menu-active {
		position: fixed;
		overflow: hidden;
	}
}

a {
	color: $link-color;

	&:hover,
	&:active,
	&:focus {
		color: $link-hover-color;
	}
}
